.thumbnail{
height: 280px;
width: 190px;
border-radius: 0.5rem;
}
video{
    height: 550px;
    width: 920px;
    background-color: rgb(43, 41, 41);
    border-radius: 10px;
}
.card-2{
    max-height: 550px;
    min-height: 550px;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #6082b696;
}
.list-group-item{
    background-color: #0077c0;
    border-style: solid;
    border-color: black;
}
.card-3{
    min-width: 22rem;
    max-width: 22rem;
    min-height: 280px;
    max-height: 10rem;
    background-color: #00bfff9f;
}
.card-4{
    background-color: #00bfff9f;
    min-height: 280px;
    max-height: 10rem;
    max-width: 22rem;
    min-width: 22rem;
}
.card-5{
    min-height: 5rem;
    max-height: 12rem;
    background-color: #6494edc0;
    overflow: auto;
}
.card-body-2{
overflow-y: scroll;
}
.card-body-2::-webkit-scrollbar {
    width: 0;
}
.card-body-5 p{
    line-height: 100%;
}
.card-5::-webkit-scrollbar {
    width: 0;
}